<%- include("header") -%>
<h1>About Us</h1>
<p>Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Assumenda voluptate 
    repellat eveniet necessitatibus consectetur
    incidunt perspiciatis molestias distinctio nam.
    Beatae accusantium eos soluta qui, architecto
    modi dolores optio distinctio ullam?</p>
    <%- include("footer") -%>